{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">About Us</h1>
      <hr>
      <p class="lead text-center">This project is a simple Django application that allows users to submit a job application. The application form collects basic information such as the user's name, email address, date of birth, and occupation. Once the user submits the form, the data is stored in a database and an email confirmation is sent to the user.</p>
      <p class="text-center">This project was created to demonstrate the basics of Django development. It uses the Django Model-View-Template (MVT) architecture, and it includes a simple database model, a form, and a view function. The project also uses Bootstrap for styling.</p>
    </div>
  </div>
</div>


{% endblock %}
